
 {% load static %}


 
<style type="text/css">
  .sidebar-collections__link{
    cursor: pointer;
  }
</style>



 <aside class="is-large" style="z-index: 8;">
        <section data-sidebar="">
          
                
                  <div class="layout widget-type_system_widget_v4_sidebar_collections_menu_1" style="--hide-title:true; --layout-pt:0vw; --layout-pb:1.5vw; --hide-desktop:false; --hide-mobile:true;">
  <div class="layout__content">
    <div class="sidebar-collections">
  
  

  

  
  

  

  <ul class="sidebar-collections__menu" data-navigation="" data-navigation-inited="true">
    
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="{% url 'accounts:new_products'  %}" class="sidebar-collections__link_open" category_name="Новинки">
              Նորույթ
            </a>
           
            
         

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">

           <a  href="{% url 'accounts:day_of_products'  %}" class="sidebar-collections__link_open" data-navigation-link="/collection/dlya-malchikov" category_name="Товары дня" >
              Օրվա ապրանքներ
            </a>
             

            
          </div>


          

          

          
            </li>
            
           
             <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
           <div url="{% url 'accounts:shop_products_category' 5 %}" class="sidebar-collections__link" category_pk="5">
              Թելեր և մանվածք
            </div>

            
          </div>


          

          

          
            </li>
            
            <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="6">
             Ժապավեններ, քուղ, հյուսք
            </a>

            
          </div>

          

          

          
            </li>
           
           
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="8">
              Փուլեր
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <div href="{% url 'accounts:shop_products_category' 9 %}" class="sidebar-collections__link"  category_pk="9">
              Ուլունքներ և մարգարիտներ
            </div>

            
          </div>

          

          

          
            </li>
             <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <div url="{% url 'accounts:shop_products_category' 3 %}" class="sidebar-collections__link" category_pk="3">
              Միքսեր
            </div>

            
          </div>


          

          

          
            </li>
            
          

          


      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link"  category_pk="10">
              Կցամասեր 
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="11">
              Գործվածքներ,  կաշի, մորթի
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="12">
              Հնաոճ և վինտաժ Նյութեր
            </a>

            
          </div>

          

          

          
            </li>
              <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="4">
              Ձեռագործության հավաքածուներ
            </a>

            
          </div>


          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="13">
             Գործիքներ 
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link_open" category_pk="14">
             Գրքեր և ամսագրեր
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="15">
              Տարբեր
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link_open" data-navigation-link="/collection/hity">
              Նվեր քարտեր
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

       

          

          

          
         

          
      
    
      
      
      

      
      

      
      

      
        

        

       
          

          
            
              
          
      
    
    
  </ul>
</div>

  </div>
</div>

                
                  
                
                

                
            
        </section>
      </aside>
    
      



    
      