 <style type="text/css">
   .co-menu-toggle:after {
    content: none !important;
    
}
 </style>
 <div class="co-sidebar--menu"><input class="co-menu-switcher" id="co-menu-toggle" type="checkbox"><label class="co-menu-toggle" data-title="My account" for="co-menu-toggle"><svg width="30" height="30" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
<defs>
<style>.cls-1{fill:none;stroke:#000000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style>
</defs>
<title/>
<g id="chevron-bottom">
<line class="cls-1" x1="16" x2="7" y1="20.5" y2="11.5"/>
<line class="cls-1" x1="25" x2="16" y1="11.5" y2="20.5"/>
</g>
</svg></label><div class="co-menu co-menu--personal co-checkout-block--padded"><div class="co-menu-item co-menu-item--personal"><a class="co-menu-link co-menu-link--personal co-link co-link--active co-menu-link--active" href="{% url 'accounts:orders' %}">Orders</a></div><div class="co-menu-item co-menu-item--personal"><a class="co-menu-link co-menu-link--personal co-link" href="{% url 'accounts:address_book' %}">Delivery address</a></div>
               
                
                  <div class="co-menu-item co-menu-item--personal">

                <a class="co-menu-link co-menu-link--personal co-link" href="{% url 'accounts:sign_out' %}">Exit</a>
              </div>
              </div></div>
              
              <div class="co-section--content">
              