 {% load static %}


 
<style type="text/css">
  .sidebar-collections__link{
    cursor: pointer;
  }
</style>



 <aside class="is-large" style="z-index: 8;">
        <section data-sidebar="">
          
                
                  <div class="layout widget-type_system_widget_v4_sidebar_collections_menu_1" style="--hide-title:true; --layout-pt:0vw; --layout-pb:1.5vw; --hide-desktop:false; --hide-mobile:true;">
  <div class="layout__content">
    <div class="sidebar-collections">
  
  

  

  
  

  

  <ul class="sidebar-collections__menu" data-navigation="" data-navigation-inited="true">
    
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="{% url 'accounts:new_products'  %}" class="sidebar-collections__link_open" category_name="Новинки">
              Новинки
            </a>
           
            
         

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">

           <a  href="{% url 'accounts:day_of_products'  %}" class="sidebar-collections__link_open" data-navigation-link="/collection/dlya-malchikov" category_name="Товары дня" >
              Товары дня
            </a>
             

            
          </div>


          

          

          
            </li>
            
           
             <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
           <div url="{% url 'accounts:shop_products_category' 5 %}" class="sidebar-collections__link" category_pk="5">
              Нитки и пряжа
            </div>

            
          </div>


          

          

          
            </li>
            
            <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="6">
             Ленты, шнуры, тесьма
            </a>

            
          </div>

          

          

          
            </li>
           
           
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="8">
              Пайетки
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <div href="{% url 'accounts:shop_products_category' 9 %}" class="sidebar-collections__link"  category_pk="9">
              Бисер, бусины, жемчуг
            </div>

            
          </div>

          

          

          
            </li>
             <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <div url="{% url 'accounts:shop_products_category' 3 %}" class="sidebar-collections__link" category_pk="3">
              Миксы
            </div>

            
          </div>


          

          

          
            </li>
            
          

          


      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link"  category_pk="10">
              Фурнитура 
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="11">
              Ткани, кожа, мех
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="12">
              Антикварные и винтажные материалы
            </a>

            
          </div>

          

          

          
            </li>
              <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="4">
              Наборы для рукоделия
            </a>

            
          </div>


          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="5">
             Инструменты 
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link_open" category_pk="9">
             Книги, журналы
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link" category_pk="9">
              Разное
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

        <li class="sidebar-collections__item" data-navigation-item="">
          <div class="sidebar-collections__controls ">
            <a href="#" class="sidebar-collections__link_open" data-navigation-link="/collection/hity">
              Подарочные карты
            </a>

            
          </div>

          

          

          
            </li>
          

          
      
    
      
      
      

      
      

      
      

      
        

        

       

          

          

          
         

          
      
    
      
      
      

      
      

      
      

      
        

        

       
          

          
            
              
          
      
    
    
  </ul>
</div>

  </div>
</div>

                
                  
                
                

                
            
        </section>
      </aside>
    
      